@model TallinnaRakenduslikKolledz.Models.InstructorIndexData
@{ViewData["Title"] = "Õpetaja";

}
<h2>Õpetaja</h2>
<p>
	<a asp-action="Create">Lisa õpetaja</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Perekonnanimi</th>
			<th>Eesnimi</th>
			<th>Töölevõtukuupäev</th>
			<th>Age</th>
			<th>Email</th>
			<th>Hetkel kursuseid:</th>
			<th>👌Tööriistad</th>

		</tr>
	</thead>
	<tbody>

	@foreach (var instructor in Model.Instructors)
	{
		string selectedRow = "";
		if(instructor.Id == (int?)ViewData["InstructorID"])
		{
			selectedRow = "table-succsess";
		}
		<tr class="@selectedRow">
			<td>@Html.DisplayFor(modelItem => instructor.LastName)</td>
			<td>@Html.DisplayFor(modelItem => instructor.FirstName)</td>
			<td>@Html.DisplayFor(modelItem => instructor.HireDate)</td>
				<td>@Html.DisplayFor(modelItem => instructor.Age)</td>
				<td>@Html.DisplayFor(modelItem => instructor.Email)</td>
			<td>
				@if(instructor.OfficeAssignment != null)
				{
					@instructor.OfficeAssignment.Location
				}
			</td>
			<td>
				@foreach(var course in instructor.CourseAssignments)
				{
					@course.Course.CourseId @: @course.Course.Title <br/>
				}
			</td>
			<td>@Html.DisplayFor(modelItem => instructor.HomeAddress)</td>
			<td>
				<a asp-action="Edit" asp-route-id="@instructor.Id">Muuda</a>
			    <a asp-action="Details" asp-route-id="@instructor.Id">Vaata</a>
				<a asp-action="Delete" asp-route-id="@instructor.Id">Kustuta</a>
			</td>
		</tr>
			
	}
	</tbody>



</table>