@model TallinnaRakenduslikKolledz.Models.Student

@{
	ViewData["Title"] = "Kustuta õpilanr";

}
<h1>Kustuta õpilane</h1>
<h3>
	Kas oled kindel, et tahad õpilast @Model.FirstName @Model.LastName eemaldada?
</h3>
<div>
	<h4>Õpilane @Model.FirstName @Model.LastName</h4>
	<hr />
	<dl class="row">

		<dt class="Col-sm-2">@Html.DisplayNameFor(Model => Model.LastName)</dt>
		<dd class="Col-sm-10">@Html.DisplayFor(Model => Model.LastName)</dd>
	</dl>
	<dl class="row">

		<dt class="Col-sm-2">@Html.DisplayNameFor(Model => Model.Id)</dt>
		<dd class="Col-sm-10">@Html.DisplayFor(Model => Model.Id)</dd>
	</dl>

	<dl class="row">


		<dt class="Col-sm-2">@Html.DisplayNameFor(Model => Model.FirstName)</dt>
		<dd class="Col-sm-10">@Html.DisplayFor(Model => Model.FirstName)</dd>
	</dl>

	<dl class="row">

		<dt class="Col-sm-2">@Html.DisplayNameFor(Model => Model.EnrollmentDate)</dt>
		<dd class="Col-sm-10">@Html.DisplayFor(Model => Model.EnrollmentDate)</dd>
	</dl>
		

	@if (Model.Enrollments != null)
	{
		foreach(var courseEnrollment in Model.Enrollments)
		{
			<dl class="row">

				<dd class="Col-sm-10">@(courseEnrollment)</dd>
				
			</dl>
		}
	}

	@if (Model.HomeAddress != null)
	{
		@Model.HomeAddress
	}
	@if (Model.Age != null)
	{
		@Model.Age.ToString()
	}
	@if (Model.Email != null)
	{
		@Model.Email
	}

</div>
<form asp-action="Delete">
<input type="hidden" asp-for="Id"/>
<input type="submit" value="Kustuta õpilane" class="btn btn-danger"/> | <a asp-action="Index">Tühista</a>
</form>

