@model IEnumerable<TallinnaRakenduslikKolledz.Models.DelinquentsBase>
  
@{
  ViewData["Title"] = "Korrarikkujad";
   }
    <h2>Korrarikkujad</h2>
    <p>
        <a asp-action="Create">Lisa õpilane nimekirja</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(Model => Model.ID)</th>
                <th>@Html.DisplayNameFor(Model => Model.Name)</th>
                <th>@Html.DisplayNameFor(Model => Model.EventDate)</th>
                <th>@Html.DisplayNameFor(Model => Model.PunishmentType)</th>
                <th>@Html.DisplayNameFor(Model => Model.PunishmentLength)</th>
                <th>Tooriistad</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var delinquents in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => delinquents.ID)</td>

                <td>@Html.DisplayFor(modelItem => delinquents.Name)</td>

                <td>@Html.DisplayFor(modelItem => delinquents.EventDate)</td>

                <td>@Html.DisplayFor(modelItem => delinquents.PunishmentType)</td>

                <td>@Html.DisplayFor(modelItem => delinquents.PunishmentLength)</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@delinquents.ID" class="btn btn-success">Muuda</a>
                    <a asp-action="Details" asp-route-id="@delinquents.ID" class="btn btn-danger">Detailid</a>
                    <a asp-action="Delete" asp-route-id="@delinquents.ID" class="btn btn-dark">Kustuta</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
